@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --dx-color: red;
    --bgcolor: #8a1538;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(39, 14, 182, 0.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);
 
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #eee;
    width: 100%;
    min-height: 150vh;
}

/* -------------------Navbar Start------------------ */

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--bgcolor);
}

.navbar ul li{
    display: inline-block;
    line-height: 2rem ;
    margin: 0 1rem;
    font-size: 1.7rem;
}

.navbar ul li .right{
    color: rgb(24, 180, 32);
}

.navbar ul li .right:hover{
    color: var(--dx-color);
}


/* ----------------------Navbar End---------------------- */


/* ---------------HEADER SEARCH START------------------- */

.containers{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbars{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input{
    padding: 10px;
    border: 5px;
    background-color: #28c442;
    top: 0;
    right: 10px;
    width: 20px;
    transition: 0.4s ease;
    color: #fff;
}

.btns{
    position: absolute;
    right: 8%;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}

.menu-btn{
    position: absolute;
    right: 4%;
    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}

.menu-btn{
    display: none;
}

.input.active{
    width: 300px;
}

.input.active.input::placeholder{
    color: #fff;
}

input::placeholder{
    color: transparent;
}

.input:focus{
    outline: none;
}

/* ---------------HEADER SEARCH END------------------- */


/* ---------------HOME START----------------------------------- */

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--bgcolor);
}

.heading span{
    background: var(--bgcolor);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./assets/img/qatari.png) no-repeat ;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 25rem;
}

.home .content{
    text-align: center;
    width: 60rem;
}

.home .content h3{
    color: #fff;
    font-size: 4.5rem;
}

.home .content h3 span{
    color: var(--bgcolor);
    
}

.home .content p{
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.mybtn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid #fff;
    color: #fff;
    cursor: pointer;
    background: none;
}

.mybtn:hover{
    background: var(--bgcolor);
    color: #fff;
}

.countries .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.countries .box-container .box{
    padding: 3rem 2rem;
    background: var(--bgcolor);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.countries .box-container .box:hover{
    
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.countries .box-container .box img{
    margin: 1rem 0;
    height: 15rem;
}

.countries .box-container .box h3{
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: #fff;
}

.countries .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #fff;
    padding: 1rem 0;
}




/* ---------------HOME END----------------------------------- */


























/* --------------------------media query start----------------------------- */




@media (max-width:991px){
    html{
    font-size: 55%;
}
    .header{
        padding: 2rem;
    }  
    section{
    padding: 2rem;
}   
}




@media (max-width:768px){
    
    .menu-btn{
        display: inline-block;
    }


    .input{
        display: none;
    }

    .btns{
        display: none;
    }

    .menu-btn:hover{
      color:  var(--bgcolor);
    }

    .navbar{
        position: absolute;
        top: 110%; right: 2rem;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        overflow: hidden;
    }

    .navbar .rilo {
        position: absolute;
        top: 110%; right: 2rem;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        overflow: hidden;
    }
     
    .header .navbar ul li{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}   




@media (max-width:450px){
    html{
    font-size: 50%;
}
    .heading{
        font-size: 2.5rem;
    }
    .footer{
        text-align: center; 
    }
}

/* --------------------------media query end----------------------------- */

























































































































.homes{
    margin-top: 20rem;
    font-size: 10rem;
    text-align: center;
}

.features{
    margin-top: 20rem;
    font-size: 10rem;
    text-align: center;
}

.productss{
    margin-top: 20rem;
    font-size: 10rem;
    text-align: center;
}

.categoriess{
    margin-top: 20rem;
    font-size: 10rem;
    text-align: center;
}

.reviews{
    margin-top: 20rem;
    font-size: 10rem;
    text-align: center;
}

.blogss{
    margin-top: 20rem;
    font-size: 10rem;
    text-align: center;
}












































































/* --------------- SEARCH START------------------- */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input{
    padding: 10px;
    border: 5px;
    background-color: #28c442;
    top: 0;
    right: 0;
    width: 20px;
    transition: 0.4s ease;
    color: white;
}

.btn{
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    right: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
}

.input.active{
    width: 300px;
}

.input.active.input::placeholder{
    color: #fff;
}

input::placeholder{
    color: transparent;
}

.input:focus{
    outline: none;
}














/* --------------- SEARCH END------------------- */